# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
node_modules
dist
dist-ssr
build
Thumbs.db
.env
*.local
*.tmp
*.temp
.vite/
.stylelintcache
.eslintcache
coverage
jest-cache
test-results